@{
    ViewBag.Title = "Home Page";
}

<div class="ui container">
    <div class="ui vertical segment" style="margin-top: 5%;">
        <h1 class="ui center aligned header">Jrnlr is your private space for notes, and thoughts on the internet</h1>
        <h3 class="ui center aligned header">All your posts are encrypted, and only viewable by you. Jrnlr is free and always will be.</h3>
    </div>
    <div class="ui vertical segment">
        <button class="ui button center aligned" style="margin: auto; display: block;">Sign Up</button>
        <p style="text-align: center; padding-top: 10px;">Already have an account? <a href="#">We missed you</a></p>

    </div>

</div>